<h3>Create Instrument: </h3>

<%= form_for(@instrument) do |f| %>
  
    <%= f.label "Instrument" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>


    <% if @category %>
        <%= f.hidden_field :category_id %>
     pass through category_id as hiddenfield 
    <% else %>
     select from an exisiting
     <% f.collection_select :category_id, Category.all, :id, :name %>
     or 
        <%# f.fields_for :category, Category.new do |instrument_category| %>
        <%# instrument_category.label "Category" %>
        <%# instrument_category.text_field :name %>
        <%# end %>
    <% end %>
    

    <%= f.submit @instrument.persisted? %>
<% end %>
