
<% if @category %>
  <h3>Create <%= @category.name %> Instrument: </h3>
<% else %>
    <h3>Create Instrument: </h3>
<% end %>
<hr>
<h4>Instrument Info: </h4>


<%= form_for(@instrument) do |f| %>
    <div class="field_with_errors">
        <% if @instrument.errors.any? %>
            <h3>Errors:</h3>
            <ul>
                <% @instrument.errors.full_messages.each do |m| %>
                <li><%= m %></li>
                <% end %>
            </ul>
        <% end %>
    </div>

    <%= f.label "Instrument" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>


    <% if @category %>
        <%= f.hidden_field :category_id %>
    <% else %>
        <h4>Category Info: </h4>
        <p> Select from an exisiting category
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "Choose Category"  %></p>
        <p> or create a new one <br>
        <%= f.fields_for :category, @instrument.build_category do |instrument_category| %>
            <%= instrument_category.label "Category" %>
            <%= instrument_category.text_field :name %>
        <% end %></p>
    <% end %>
    <%= f.submit  %>
<% end %>
