<h3>Create Instrument: </h3>
<hr>
<h4>Instrument Info: </h4>

<%= form_for(@instrument) do |f| %>
    <% if @instrument.errors.any? %>
        <h3>Errors:</h3>
        <ul>
            <% @instrument.errors.full_messages.each do |m| %>
             <li><%= m %></li>
             <% end %>
        </ul>
    <% end %>
  
    <%= f.label "Instrument" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>


<h4>Category Info: </h4>
    <% if @category %>
        <%= f.hidden_field :category_id %>
    <% else %>
       <p> Select from an exisiting category
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "Choose Category"  %></p>
        <p> or create a new one =>
        <%= f.fields_for :category, @instrument.build_category do |instrument_category| %>
            <%= instrument_category.label "Category" %>
            <%= instrument_category.text_field :name %>
        <% end %></p>
    <% end %>
    <%= f.submit  %>
<% end %>
