<% if @category %>
    <hr>
    <h2>My <%= @category.name %> Instruments: </h2>
<% else %>
    <hr>
    <h2>My Instruments: </h2>
<% end %>

<% @instruments.each do |i| %>
    <%= link_to i.name, instrument_path(i) %><br>
<% end %>
<br>
<br>
<% if @category %>
   <%= link_to "Add Instrument",  new_category_instrument_path(@category), class: "btn btn-secondary btn-sm text-white" %>
<% else %>
    <%= link_to "Add Instrument",  new_instrument_path, class: "btn btn-secondary btn-sm text-white" %>
<% end %>

<%= link_to 'Heavy Instruments', '/instruments/search_term/heavy', class: "btn btn-secondary btn-sm text-white" %>
<%# link_to 'Expensive Instruments', '/instruments/search_term/expensive', class: "btn btn-secondary btn-sm text-white" %>


