<h3><%= @instrument.name %></h3>
<p>Price: <%= @instrument.price %></p>
<p>Weight: <%= @instrument.weight %></p>
<p>Description: <%= @instrument.description %></p>

 <button><%= link_to "Edit Instrument",  new_instrument_path %></button>
<button><%= link_to "Delete Instrument",  @instrument, method: :delete, data: { confirm: 'Are you sure?' } %></button>